form(method="POST", action="http://localhost:3000/auth")
	input(type="hidden", name="_method", value="PUT")
p name
	input(type="text", name="name")
p email 
	input(type="password", name="pwd")
p
	input(type="submit")